stages:
  - prepare
  - test
  - build
  - release
  - security

image: node:dubnium-alpine

variables: &global-variables
  DOCKER_DRIVER: overlay2

  CI_APPLICATION_REPOSITORY: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG
  CI_APPLICATION_TAG: $CI_COMMIT_SHA

cache:
  key: $CI_COMMIT_REF_SLUG
  paths:
    - node_modules/

include:
  - template: Container-Scanning.gitlab-ci.yml

  - project: 'internal/templates/instance-template-repository'
    ref: master
    file: '/gitlab-ci/Docker.yml'

before_script:
  - yarn install --frozen-lockfile

install:yarn:
  stage: prepare
  script:
    - yarn install --frozen-lockfile
    - cp .env.example .env
  artifacts:
    paths:
      - node_modules/
      - .env
    expire_in: 1 days
    when: always
  cache:
    paths:
      - node_modules/

code_quality:eslint:
  stage: test
  script:
    - yarn eslint --format gitlab --ext .js,.vue --ignore-path .gitignore .
  artifacts:
    reports:
      codequality: gl-codequality.json
    paths:
      - gl-codequality.json
  cache:
    policy: pull
    paths:
      - node_modules/
  dependencies:
    - install:yarn
  needs:
    - install:yarn
  allow_failure: true

license_management:
  stage: test
  script:
    - npx license-checker --json | npx gitlab-ci-license-checker-parser -o gl-license-management-report.json
  artifacts:
    reports:
      license_management: gl-license-management-report.json
  cache:
    policy: pull
    paths:
      - node_modules/
  dependencies:
    - install:yarn
  needs:
    - install:yarn
  allow_failure: true

# Build docker image
build:container:
  stage: build
  dependencies:
    - install:yarn

# Release docker image
release:container:latest:
  stage: release
  needs:
    - build:container

release:container:tags:
  stage: release
  needs:
    - build:container

container_scanning:
  stage: security
  needs:
    - build:container

dependency_scanning:
  stage: security
  script:
    - yarn audit --json | yarn gitlab-ci-yarn-audit-parser -o gl-dependency-scanning.json
  artifacts:
    reports:
      dependency_scanning: gl-dependency-scanning.json
    paths:
      - gl-dependency-scanning.json
    when: always
  cache:
    policy: pull
    paths:
      - node_modules/
  dependencies:
    - install:yarn
  needs:
    - install:yarn
  allow_failure: true
